.nav-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-family: "Futura", sans-serif;
  font-size: 0.9em;
}

.button {
  text-transform: uppercase;
  font-style: italic;
  font-family: "Futura", sans-serif;
  border: 3px solid #ffe88e;
  background-color: #ffce07;
  color: white;
  height: 40px;
  width: 200px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all ease-in 0.1s;
}

.button:hover {
  color: black;
  background-color: transparent;
  border: 2px solid #ffe88e;
}
