.nav-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Futura", sans-serif;
  font-size: 0.9em;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  font-family: "Futura", sans-serif;
  font-weight: bold;
  font-size: 3em;
}

.button {
  text-transform: uppercase;
  font-style: italic;
  font-family: "Futura", sans-serif;
  border: 3px solid #ffe88e;
  background-color: #ffce07;
  color: white;
  height: 40px;
  width: 200px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all ease-in 0.1s;
  margin: 0 1em 0 1em;
}

.button:hover {
  color: black;
  background-color: transparent;
  border: 2px solid #ffe88e;
}
